body{
    margin: 0;
    padding: 0;
}

.sottofondo{
    background-image: url(../img/pattern.png);
    background-size:auto;
    background-color: #0d68a4;
    background-position: center center;           
    height: 130px;
    width: 500%;
}

.logo {
    display: block;
    float: left;
    width: 240px; 
  }
  

h1{
    font-size: 44px;
    font-weight: 800;
}

.evidenzia{
    background-color: yellow;
}


/* Stile generale per la tabella */
.colorful-table {
  width: 280%;
  border-collapse: collapse; /* Unisce i bordi delle celle */
}

/* Stile per l'intestazione della tabella */
.colorful-table thead {
  background-color: #4d90f4; /* Colore di sfondo verde per l'intestazione */
  color: white; /* Colore del testo dell'intestazione */
}

.colorful-table th {
    padding: 20px;
    text-align: left;
}

/* Stile per le righe del corpo della tabella */
.colorful-table tbody tr:nth-child(odd) {
  background-color: #92b3da; /* Colore di sfondo grigio chiaro per righe dispari */
}

.colorful-table tbody tr:nth-child(even) {
  background-color: #ffffff; /* Colore di sfondo bianco per righe pari */
}









 